
.hero{
  background-color: #313133;
  height: 100vh;
  overflow: hidden;
}
.hero-content{
  padding-top: 110px;
}
.hero-content__title {
  font-size: 25px;
  color: #fff;
  letter-spacing: -.2px;
  margin-bottom: 25px;
  display: inline-block;
}

.hero-content__name {
  margin: 0 0;
  font-size: 130px;
  font-weight: 700;
  color: var(--color-change);
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero-content__infos{
 font-size: 40px;
 font-weight: 700;
}

.hero-content__desc {
  font-size: 40px;
  color: #fff;
  position: relative;
  margin-bottom: 40px;
}

.hero-content__job{
  font-size: 75px;
  font-weight: 500;
  margin-left: 20px;
}

.social-media {
  position: absolute;
  left: 30px;
  display: inline-block;

  &:not(:last-child){
    margin-bottom: 15px;
  }

}

.social-media__icon {
  font-size: 28px;
  color: #fff;
  transition: all 0.4s ease;
  margin-bottom: 20px;

  &:hover{
    color: var(--color-change);
  }

}

.ornament{
  transition: all 1s ease;
  
}

.hero-content__link {
  color: #fff;
  display: inline-block;
  background-color: var(--color-change);
  line-height: 30px;
  padding: 15px 46px;
  border-radius: 6px;
  border: 2px solid var(--color-change);
  white-space: nowrap;
  transition: all 0.3s ease;
  font-size: 18px;
  margin-right: 30px;

  &:hover{
    background-color: transparent;
    color: #fff;
  }

}

.bx-mail-send{
  position: relative;
  top: 3px;
}

.hero-content__about__link {
  color: #fff;
  font-size: 18px;
  width: 84px;
  position: relative;
  padding-bottom: 5px;

  &:hover{
    color: #fff;
  }

  &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    height: 1.5px;
    background-color: #fff;
    transition: transform 0.4s ease;
  }

  &:hover::after{
    transform: scaleX(1);
    transform-origin: left;
  }

}

.hero-content__about__wrapper{
  padding-top: 50px;
}

.hero-content__mouse__link{
  width: 20px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 8px;
  border-radius: 20px;
  margin-left: 40px;
}

.hero-content__mouse__icon{
  width: 2.5px;
  height: 10px;
  background-color: #fff;
  display: inline-block;
  animation: line 3s ease-in infinite;
}

@keyframes line {
  0%{
    transform: translate(0,0);
  }
  50%{
    transform: translate(0, -7px);
  }
}

.hero-content__mail {
  color: #fff;
  position: relative;
  top: 30px;
  left: -80px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 21px;
  position: relative;
  padding-bottom: 5px;

  &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    height: 1px;
    background-color: #fff;
    transition: transform 0.4s ease;
  }

  &:hover::after{
    transform: scaleX(1);
    transform-origin: left;
  }

  &:hover{
    color: #fff;
  }
}

.hero-content__part{
  padding-top: 40px;
  position: relative;
}

.ornament__big{
  width: 380px;
  height: 400px;
  background-color: var(--color-change);
  display: inline-block;
  position: absolute;
  right: -60px;
  top: 75px;
}

.ornament__rectangle{
  width: 440px;
  height: 470px;
  background-color: transparent;
  border: 5px solid #fff;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  font-size: 50px;
  position: relative;
  left: 50px;
}

.ornament__name{
  color: transparent;
  -webkit-text-stroke: 3px rgba(255,255,255,.3);
  font-size: 200px;
  margin-left: 20px;
}

.ornament__second__rectangle{
  width: 180px;
  height: 180px;
  background-color: var(--color-change);
  display: inline-block;
  position: relative;
  top: -140px;
  left: -70px;
  z-index: 111;
}

.ornament__small__rectangle{
  width: 80px;
  height: 110px;
  background-color: var(--color-change);
  display: inline-block;
  position: absolute;
  top: 150px;
  left: -90px;
}

.img{
  position: absolute;
  top: -140px;
  left: -10px;
  z-index: 101;
  transition: all 1s ease;
}

.hero:hover .ornament{
  transform: translate(-20px);
  transition: all 1s ease;
}

.img:hover{
  transform: translate(20px);
  transition: all 1s ease;
}


.color{
  position: fixed;
  z-index: 10;
  top: 25%;
  right: -200px;
  width: 200px;
  background-color: rgba(0,0,0,1.00);
  padding: 40px 20px 33px 30px;
  transition: all 0.3s ease;
}

.color__icon-box{
  position: absolute;
  top: 0px;
  right: 100%;
  background-color: #000;
  padding: 12px 12px 4px 12px;
  border: none;
  
  .bx{
    font-size: 35px;
    color: #fff;
    transition: all 0.3s ease;
    animation: setting 2s linear infinite both;
  }
}

@keyframes setting {
  0%{
      transform: rotate(0deg);
  }

  100%{
      transform: rotate(360deg);
  }
}

.color__title{
  color: #fff;
  font-weight: 600;
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-transform: capitalize;

  &::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,.2);
    left: 0px;
    bottom: 0px;
  }
}

.color__list{
  padding: 0;
  margin: 0px 0px 22px 0px;
  list-style-type: none;
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
}

.color__item{
  margin-right: 5px;

  &:first-child{
    .color__btn{
      background-color: #4169e1;
    }
  }

  &:nth-child(2){
    .color__btn{
      background-color: #66b95c;
    }
  }

  &:nth-child(3){
    .color__btn{
      background-color: #ff9800;
    }
  }

  &:nth-child(4){
    .color__btn{
      background-color: #ff5e94;
    }
  }

  &:nth-child(5){
    .color__btn{
      background-color: #fa5b0f;
    }
  }

  &:nth-child(6){
    .color__btn{
      background-color: #333;
    }
  }

  &:nth-child(7){
    .color__btn{
      background-color: #9200ee;
    }
  }

  &:nth-child(8){
    .color__btn{
      background-color: #00d4bd;
    }
  }

  &:nth-child(9){
    .color__btn{
      background-color: #5e9e9f;
    }
  }

  &:nth-child(10){
    .color__btn{
      background-color: #ea4343;
    }
  }

  &:nth-child(11){
    .color__btn{
      background-color: #666d41;
    }
  }

  &:nth-child(12){
    .color__btn{
      background-color: #fe0000;
    }
  }
}

.color__btn{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;
}

.color__cursor-list{
  padding: 0;
  margin: 0px;
  list-style-type: none;
  padding-top: 15px;
  display: flex;
  align-items: center;
}

.color__cursor-item{
  margin: 0px 20px 0px 0px;
  display: inline-block;
}

.color__cursor-btn{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid #fff;
  position: relative;
  display: inline-block;
  color: #fff;
  opacity: 0.4;
  font-weight: 600;
  background-color: transparent;

  &::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fff;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
  }
}

.color__regular-cursor{
  border: none;
  background-color: transparent;

  svg{
    width: 25px;
    height: 25px;
    fill: #fff;
  }
}

@media screen and (max-width: 1150px) {
  .ornament{
    display: none;
  }

  .hero-content__title{
    padding-top: 30px;
  }

  .hero-content__inner{
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
  }

  .social-media{
    display: none;
  }

  .hero-content__desc{
    font-size: 30px;
  }

  .hero-content__name{
    font-size: 70px;
  }

  .hero-content__mail{
    left: 10px;
  }
  
}


@media screen and (max-width: 920px) {
  .hero-content__name{
    font-size: 80px;
  }

  .hero-content__desc{
    font-size: 30px;
  }

  .hero-content__job{
    font-size: 60px;
  }
  
}


@media screen and (max-width: 735px) {
  .hero-content__inner{
    text-align: left;
    padding-top: 0;
  }

  .hero__container{
    padding-top: 50px;
  }

  .hero-content__job{
    font-weight: 700;
    font-size: 40px;
  }

  .hero-content__infos{
    font-size: 30px;
  }

  .hero-content__mouse__link{
    position: relative;
    right: -100px;
  }
  
}

@media screen and (max-width: 500px) {
  .hero-content__name{
    font-size: 65px;
  }

  .hero-content__desc{
    font-size: 25px;
  }

  .hero-content__job{
    font-size: 40px;
    padding-top: 20px;
  }

  .hero-content__infos{
    font-size: 20px;
  }

  .hero-content__link{
    padding: 15px 25px;
  }

}

